<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1</title>
    <link rel="stylesheet" href="css//bootstrap.min.css">
    <link href="css/styles.css" rel="stylesheet">
    <script src="js/vue.js"></script>
    <style>
        .my-info{
            font-style: italic;
        }

        .my-warning{
            font-size: 20px;
        }

        .table-some{
            color: #fff;
            background: #000;
        }
    </style>
</head>
<body>
<div class="wrapper">
    <div class="sample">
        <div class="alert" :class="divClassName">
            Some Text
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input type="radio" 
                       class="form-check-input" 
                       value="info"
                       v-model='divClass'>
                    Info
                </input>
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input type="radio" 
                       class="form-check-input" 
                       value="warning"
                       v-model='divClass'>
                    Warning
                </input>
            </label>
        </div>
    </div>
</div>
<script>
    new Vue({
        el: '.sample',
        data: {
            divClass:'info'
        },
        computed:{
            divClassName(){
                return [
                    'alert-' + this.divClass,
                    'my-' + this.divClass
                ]
            }
        }
    });

</script>
</body>
</html>
