<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="css/styles.css" rel="stylesheet">
    <script src="js/vue.js"></script>
</head>
<body>
    <div class="wrapper">
        <div class="sample">
            <input type="text" v-model="firstName">
            <hr>
            <input type="text" v-model="lastName">
            <hr>
            <label for="">discount code</label>
            <input type="text" v-model="promo">
            <hr>
            <h2 v-show="showText">Your discount: {{sale}}%</h2>
        </div>
    </div>
    <script>
        function getDiscount(code, callback){
            let codes = {
                newYear: 10,
                some: 20
            };

            let sale = (codes[code] !== undefined) ? codes[code] : 0;

            setTimeout( () => {
                callback(sale);
            }, 1000 );
        }
        let sample = new Vue({
            el: '.sample',
            data:{
                firstName: '',
                lastName: '',
                promo:'',
                sale:0,
                showText: true
            },
            computed:{
                fullName(){
                    return this.firstName + ' ' + this.lastName
                }
            },
            watch:{
                promo(){
                    getDiscount(this.promo, (sale) => {
                        this.sale = sale;
                    })
                }
            }
        });

    </script>
</body>
</html>